.banner {
background-color: transparent;
background-image: url('.../images/desktop.jpg');
background-position: center center;
    background-size: cover;
	background-repeat: no-repeat;
height: 100%;
z-index: 1;
}

.banner .title {
position: absolute;
top: 50%;
left: 50%;
right: auto;
bottom: auto;
transform: translate(-50%, -50%);

color: #fff;
}
.section {
background-color: transparent;
background-image: url('banner-min.jpg');
background-position: center center;
    background-size: cover;
	    background-attachment: fixed;
		background-repeat: no-repeat;
height: 100%;
z-index: 2;
position: relative;
}

.section .content {
position: absolute;
top: 50%;
left: 50%;
right: auto;
bottom: auto;
transform: translate(-50%, -50%);

color: #fff;
}

.last {
position: relative;
background-color: transparent;
background-image: url('BG5-min.jpg');
background-position: center center;
    background-size: cover;
	background-repeat: no-repeat;
height: 100%;
z-index: 1;
}

.last .box {
position: absolute;
top: 50%;
left: 50%;
right: auto;
bottom: auto;
transform: translate(-50%, -50%);
display: flex;
flex-direction: row;
width: 100%;
}
.last .box > * {
color: #fff;
width: calc(100% / 3);
width: 33.333%;
text-align: center;
margin: 0px 15px
}

@media (max-width: 767px) {
	.last .box > * {
		width: calc(100% / 2);
		width: 50%;
	}
}

@media (max-width: 575px) {
	.last .box > * {
		width: 100%;
	}
}